/* src/modules/admin/components/layout/AdminLayout.css */
.admin-layout {
    display: flex;
    height: 100vh;
    background-color: #f5f5f5;
}

.admin-contenedor-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.admin-contenido {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: white;
}

.sidebar-overlay {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    inset: 0;
    /* Equivalente a top: 0; right: 0; bottom: 0; left: 0; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    /* Debajo del sidebar (z-index: 1000) */
    cursor: pointer;
}

/* Mostrar el overlay solo en pantallas móviles cuando el sidebar está abierto */
@media (max-width: 768px) {
    .sidebar-overlay {
        display: block;
    }
}